.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
	color: #fff;
}
.container:hover {
	cursor: pointer;
	background: linear-gradient(
		45deg,
		rgb(28, 163, 165) 0%,
		rgb(241, 187, 68) 100%
	);
}
