.paginator {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 70%;
}
.paginator li {
	margin: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
}

.paginator li:hover {
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
	color: #fff;
}
